.container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.search-form {
  height: 110px;
  background-color: rgb(228, 156, 156);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  border: 3px solid rgb(232, 196, 129);
  padding-left: 20px;
}

.form-input::placeholder {
  font-size: 16px;
}

.form-btn {
  margin-left: 20px;
  height: 40px;
  width: 90px;
  border-radius: 20px;
  background-color: #508cda;
  color: rgb(214, 218, 215);
  font-size: 16px;
  border: 2px solid white;
}

.section-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px 0;
}

.photo-card {
  width: 300px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.photo-card:hover {
  transform: scale(1.05);
}

.photo-card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.info {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.load-more {
  display: none;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #4bd0c3;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.load-more:is(:hover, :focus) {
  background-color: #4c8c33;
}

.loader-spin {
  display: none;
}

.loader-text {
  color: #ff3d00;
  font-size: 18px;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 15px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff3d00;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  right: 0;
  background: rgb(52, 50, 50);
  transform: translate(50%, 100%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-up {
		position: fixed;
		right: 74px;
		bottom: 40px;
		z-index: 100;

		background-color: transparent;
		border: none;
		outline: none;

		cursor: pointer;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: opacity 0.3s ease-in-out;
		color: rgb(222, 104, 35);

		opacity: 0.4;
	}

	.btn-up-icon {
		fill: currentColor;
	}

	.btn-up_hide {
		display: none;
	}

	.btn-up_hiding {
		opacity: 0;
	}

